[submodule "vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "powerline"]
	path = .vim/bundle/powerline
   url = https://github.com/Lokaltog/powerline.git
[submodule "vim-jade"]
	path = .vim/bundle/vim-jade
   url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/andviro/flake8-vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git@github.com:powerline/fonts.git
